<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= "Count to 10" =%>
<br/>
<% 11.times do |i|%>
<%= i =%>
<br/>
<% end %>
<% if(params.has_key?(:id) && params.has_key?(:random)) %>
<%= "ID : #{@id} " =%>
<br/>
<%= "Random : #{@random} " =%>
<br/>
<% end %>
    
<%= link_to("Go to Sample",
{
  :action => 'sample',:id => 5, :random => "Chinmay"
}) =%>